<div class="content_post" >
  <div class="more">
    <span><%= image_tag 'arrow_top.png' %></span>
    <ul class="more_list">
      <li>
        <%= link_to '詳細', article_path(article.id), method: :get %>
      </li>
    </ul>
  </div>
  <p><%= article.text %>
  <span class="name">
    <a href="/users/<%= article.user.id %>">
      <span>投稿者</span><%= article.user.name %>
    </a>
    <%= article.title %>
  </span>
  <span class="article-genre">
    <%= article.genre.name %>
  </span>
  <div class="article-date">
    <%= l article.created_at %>
  </div>


  <% article.images.each do |image| %>
      <%= image_tag image.variant(resize: '200x200'), class: 'article-images' %>
  <% end %>
  <% article.tags.each do |tag| %>
    #<%= tag.tag_name %>
  <% end %>
</div>

  <%= render partial: 'likes/like',locals: { article: article } %>
