<!DOCTYPE html>
<html>
  <head>
    <title>MyAppArticle</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <header class="header">
      <div class="header__bar row">
        <h1 class="grid-6"><a href="/">MyAppArticle</a></h1>
        <% if user_signed_in? %>
          <div class="user_nav grid-6">
            <span><%= current_user.name %>
              <ul class="user__info">
                <li>
                  <%= link_to "マイページ", "/users/#{current_user.id}" %>
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
                </li>
              </ul>
            </span>
            <%= link_to "投稿する", new_article_path, class: "post" %>
          </div>
        <% else %>
          <div class="grid-6">
            <%= link_to "ログイン", new_user_session_path, class: "post" %>
            <%= link_to "新規登録", new_user_registration_path, class: "post" %>
          </div>
        <% end %>
      </div>
      
    </header>
      <%# <div class="overlay"> %>


    <div class="wrapper">
      <div class="pc-side-bar">
        <ul class="side-accordion-menu">
          <li><%= link_to "ランキング", "#", id: "ranking", class: "menu ac-menu" %>
            <p class="ac-contents">ランキング</p>
          </li>
          <li><%= link_to "タイトル検索","#", id: "title-search", class: "menu ac-menu" %>
            <p class="ac-contents">タイトル検索</p>
          </li>
          <li><%= link_to "タグ検索", "#", id: "tag-search" , class: "menu ac-menu" %>
            <p class="ac-contents">タグ検索</p>
          </li>
        </ul>
      </div>


      <span class="material-icons" id="open">menu</span>

      <div class="side-bar">
      <span class="material-icons" id="close">close</span>
        <ul class="side-menu">
          <li><%= link_to "ランキング", "#", id: "ranking", class: "tab side-active"%></li>
          <li><%= link_to "タイトル検索","#", id: "title-search", class: "tab"%></li>
          <li><%= link_to "タグ検索", "#", id: "tag-search", class: "tab"%></li>
        </ul>

        <section class="tab-content side-show" id="ranking">
          いいね数ランキング
        </section>
        <section class="tab-content" id="title-search">
          <%= form_with(url: search_articles_path, local: true, method: :get, class: "search-form") do |form| %>
            <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
            <%= form.submit "検索", class: "search-btn" %>
          <% end %>
        </section>
        <section class="tab-content"></section>
        <%#<%= search_form_for @a, url: search_articles_path do |f| %>
          <%#<%= f.label :title_eq, 'タイトル名' %>
          <%#<%= f.collection_select :title_eq, @article_title, :title, :title, include_blank: '指定なし' %>
          <%#<br>
          <%= f.submit '検索する' %>
          <%#<br>
          <% @articles.each do |article| %>
          <%#<td>
          <br>
          <li>
            <% article.title %>
            <%#<% article.genre %>
            <%#<% article.tags %>
          <%#</li>
          <% end %>
        <%#<% end %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>